.footer{
	background-color: black;
	width: 100%;
	margin: auto;
	display: flex;
	justify-content: center;
	gap: 16px;
	flex-wrap: wrap;
	height: 100px;
	
}




.media {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.media img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.icon-footer1{
  background-color: white;
  padding: 4px;   
}



